.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  padding: 10px;
  margin-top: 20px;
}

.summary-container {
  flex-grow: 1;
}

.input {
  padding: 10px 20px 20px;
  width: 300px;
  label[for="category"] {
    color: #6c757d;
    font-size: 12px;
    margin-left: 12px;
    margin-bottom: 7px;
    display: block;
  }
}

.income {
  background-color: #b7eebc !important;
}

.outcome {
  background-color: #e98a99 !important;
}
